:root {
  --color-body: #fafafa;
  /* Usually darker text color */
  --color-secondary: #3f3f46;
  /* Usually lighter text color */
  --color-tertiary: #52525b;
  --color-border: #d4d4d8;
  /* theme color */
  --color-primary: #047857;
  --color-surface: #f4f4f5;
  --color-purple-text: #8649bb;
  --color-blue-text: #0369a1;
}

html {
  font-family: sans-serif;
  background-color: var(--color-body);
  line-height: 1.5em;
  font-size: 1.25em;
}

.section-header {
  text-align: start;
  width: 100%;
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-left: 1.25em;
  color: var(--color-blue-text);
}

hr {
  max-width: 1500px;
  width: 100%;
  border: 0;
  height: 1px;
  background: var(--color-border);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
  font-family: sans-serif;
  color: var(--color-secondary);
  font-weight: bold;
  width: fit-content;
  text-align: center;
  border-radius: 4px;
  line-height: 1.2em;
  margin-bottom: 0em;
}

h2,
h3 {
  color: #4a4e69;
  text-align: center;
}

/*
p {
  color: #232222;
  line-height: 1.75em;
  padding: 0 0.5em;
}
*/

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 1280px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container p {
  margin: 0;
  font-size: 0.8em;
  text-align: center;
}

.input-item {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  height: 100%;
}

.input-data-container {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 0.5em;
}

.input-data-container input {
  display: block;
  border: 1px solid var(--color-border);
  min-height: 1.5em;
  font-size: 1em;
  -webkit-appearance: none;
  padding-left: 0.5em;
}

.input-data-container input:focus {
  z-index: 10;
}

.right-rounded {
  border-radius: 0 4px 4px 0;
}

.left-rounded {
  border-radius: 4px 0 0 4px;
}

.input-group-text {
  display: flex;
  align-items: center;
  color: var(--color-tertiary);
  text-align: center;
  justify-content: center;
  min-width: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  white-space: nowrap;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
}

.input-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-text-container label {
  color: var(--color-secondary);
  font-weight: bold;
}

.input-text-container p {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.2em;
  color: var(--color-tertiary);
}

input:disabled {
  background-color: var(--color-surface);
  color: var(--color-secondary);
}

.purple-text {
  color: var(--color-purple-text) !important;
}

.blue-text {
  color: var(--color-blue-text) !important;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.button-container button {
  padding: 0.5em 1em;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  background-color: #10b981;
  color: #fafafa;
  border-radius: 4px;
  border: 1px solid #047857;
}

.button-container button:hover {
  background-color: #059669;
  cursor: pointer;
}

.button-container button:active {
  background-color: #047857;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid var(--color-border);
  padding: 0.3em;
  text-align: right;
}

table .big-header-rent {
  border-left: 3px solid var(--color-tertiary);
  border-top: 3px solid var(--color-tertiary);
  border-right: 3px solid var(--color-tertiary);
  background-color: var(--color-blue-text);
  color: white;
}

table .big-header-buy {
  border-top: 3px solid var(--color-tertiary);
  border-right: 3px solid var(--color-tertiary);
  background-color: var(--color-purple-text);
  color: white;
}

table td:nth-child(1),
table td:nth-child(3),
table td:nth-child(5),
table th:nth-child(1),
table th:nth-child(3),
table th:nth-child(5) {
  border-right: 3px solid var(--color-tertiary);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-surface);
}

table .rent {
  background-color: var(--color-blue-text);
  color: white;
}

table .buy {
  background-color: var(--color-purple-text);
  color: white;
}

table .year {
  background-color: var(--color-surface);
  color: var(--color-secondary);
}

table th {
  position: sticky;
  top: -1px;
  z-index: 2;
  height: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 720px) {
  .input-item {
    grid-template-columns: 1fr;
  }

  .input-item label,
  .input-item p {
    text-align: center;
  }

  .input-data-container {
    justify-content: center;
  }

  .input-grid {
    grid-template-columns: 1fr;
  }

  .button-container {
    justify-content: center;
  }
}
