:root {
  --color-body: #fafafa;
  /* Usually darker text color */
  --color-secondary: #3f3f46;
  /* Usually lighter text color */
  --color-tertiary: #52525b;
  --color-border: #d4d4d8;
  --color-surface: #f4f4f5;
  --color-purple-text: #8649bb;
  --color-blue-text: #0369a1;
}

html {
  font-family: sans-serif;
  background-color: var(--color-body);
  line-height: 1.5em;
  font-size: 1.25em;
}

.section-header {
  text-align: start;
  width: 100%;
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-left: 1.25em;
  color: var(--color-blue-text);
}

hr {
  max-width: 1500px;
  width: 100%;
  border: 0;
  height: 1px;
  background: var(--color-border);
}

h1 {
  font-family: sans-serif;
  color: var(--color-secondary);
  font-weight: bold;
  width: fit-content;
  text-align: center;
  border-radius: 4px;
  line-height: 1.2em;
  margin-bottom: 0em;
}

h2,
h3 {
  color: #4a4e69;
  text-align: center;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  overflow: visible;
  padding-bottom: 2em;
}

details {
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 0.5em 1em 0.5em 1em;
  width: 100%; 
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.summary-blue {
  background-color: var(--color-blue-text);
  color: white;
}

.summary-blue:hover {
  background-color: #075985;
}

.summary-blue:active {
  background-color: #0c4a6e;
}

.summary-purple {
  background-color: var(--color-purple-text);
  color: white;
}

.summary-purple:hover {
  background-color: #6b21a8;
}

.summary-purple:active {
  background-color: #581c87;
}

.summary-neutral {
  background-color: #e4e4e7;
}

.summary-neutral:hover {
  background-color: #d4d4d8;
}

.summary-neutral:active {
  background-color: #a1a1aa;
}

details summary {
  margin: -0.5em -1em -0.5em -1em;  /* negate top and horizontal padding from details */
  padding: 0.5em 1em;
  font-weight: bold;
}

details[open] summary {
  margin: -0.5em -1em 1em -1em;
  padding: 0.5em 1em;
}

details[open] {
  padding: 0.5em 1em 1.5em 1em;
}

details summary:hover {
  cursor: pointer;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  gap: 1em;
  margin-left: 0.9em;
}

.controls-container {
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; 
  padding: 0 1em;
  box-sizing: border-box;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container p {
  margin: 0;
  font-size: 0.8em;
  text-align: right;
}

.input-item {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  height: 100%;
}

.input-data-container {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 0.5em;
}

.input-data-container input {
  display: block;
  border: 1px solid var(--color-border);
  min-height: 1.5em;
  font-size: 1em;
  -webkit-appearance: none;
  padding-left: 0.5em;
}

.input-data-container input:focus {
  z-index: 10;
}

.right-rounded {
  border-radius: 0 4px 4px 0;
}

.left-rounded {
  border-radius: 4px 0 0 4px;
}

.input-group-text {
  display: flex;
  align-items: center;
  color: var(--color-tertiary);
  text-align: center;
  justify-content: center;
  min-width: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  white-space: nowrap;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
}

.input-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-text-container label {
  color: var(--color-secondary);
  font-weight: bold;
}

.input-text-container p {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.2em;
  color: var(--color-tertiary);
}

input:disabled {
  background-color: var(--color-surface);
  color: var(--color-secondary);
}

.purple-text {
  color: var(--color-purple-text) !important;
}

.blue-text {
  color: var(--color-blue-text) !important;
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: end;
}

.button-container button {
  padding: 0.5em 1em;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  background-color: #10b981;
  color: #fafafa;
  border-radius: 4px;
  border: 1px solid #047857;
}

.button-container button:hover {
  background-color: #059669;
  cursor: pointer;
}

.button-container button:active {
  background-color: #047857;
  cursor: pointer;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid var(--color-border);
  text-align: right;
  box-sizing: border-box;
}

table th {
  padding: 0.25em;
  position: relative;
}

table td {
  padding: 0.1em;
}

table td:nth-child(1),
table td:nth-child(3),
table td:nth-child(5),
table th:nth-child(1),
table th:nth-child(3),
table th:nth-child(5) {
  border-right: 3px solid var(--color-tertiary);
}

table tbody tr:nth-child(even) {
  background-color: var(--color-surface);
}

table .rent {
  background-color: var(--color-blue-text);
  color: white;
}

table .buy {
  background-color: var(--color-purple-text);
  color: white;
}

table .year {
  background-color: var(--color-surface);
  color: var(--color-secondary);
}

table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#table-container {
  max-width: 100%;
  max-height: 80vh;
  overflow: scroll;
}

@media (max-width: 720px) {
  .input-item {
    grid-template-columns: 1fr;
  }

  .input-item label,
  .input-item p {
    text-align: center;
  }

  .input-data-container {
    justify-content: center;
  }

  .input-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  .button-container {
    justify-content: center;
  }

  .controls-container {
    flex-direction: column;
  }
}
